
{% if APACHE_CONFIG.config | length > 0 %}
  # global config
{% for setting, value in APACHE_CONFIG.config.items() %}
{%   if setting not in APACHE_HC.config_graylist and value not in NONE_VALUES %}
  {{ setting }} {{ value }}
{%   endif %}
{% endfor %}
{% endif %}

{% if site.config | length > 0 %}
  # site-specific config
{% for setting, value in site.config.items() %}
{%   if setting not in APACHE_HC.config_graylist and value not in NONE_VALUES %}
  {{ setting }} {{ value }}
{%   endif %}
{% endfor %}
{% endif %}

  # security config
{% if site.security.restrict_methods | bool %}
  <IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_METHOD} ^(?!{{ for method in APACHE_CONFIG.security.restricted_methods | join('|') }})
    RewriteRule .* - [L,R=405]
  </IfModule>
  <Directory />
    <LimitExcept {% for method in APACHE_CONFIG.security.restricted_methods %}{{ method }} {% endfor %}>
      Require all denied
    </LimitExcept>
  </Directory>
{% elif site.security.deny_dangerous_methods | bool %}
  <IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_METHOD} ^({{ for method in APACHE_CONFIG.security.dangerous_methods | join('|') }})
    RewriteRule .* - [L,R=405]
  </IfModule>
  <Directory />
    <Limit {% for method in APACHE_CONFIG.security.dangerous_methods %}{{ method }} {% endfor %}>
      Require all denied
    </Limit>
  </Directory>
{% endif %}
