
  # ssl config
  <IfModule mod_ssl.c>
    SSLEngine on
    SSLCertificateKeyFile {{ APACHE_CONFIG.ssl.path }}/{{ name }}.key
    SSLCertificateFile {{ APACHE_CONFIG.ssl.path }}/{{ name }}.crt
{% if site.ssl.mode != 'selfsigned' %}
    SSLCertificateChainFile {{ APACHE_CONFIG.ssl.path }}/{{ name }}{% if site.ssl.mode == 'letsencrypt' %}.fullchain{% else %}.chain{% endif %}.crt
{% endif %}
  </IfModule>
